@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_tabular-data';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';

.form-field {
    margin-bottom: 1.5em;
}

.link-back, .js-visible p {
    margin-top: 0;
}

.u-align--right {
    float: right;
}

.currencySymbol {
    line-height: 2em;
}

.currencyInput {
        margin-left: 0.3em;
        @media screen and (max-width: 640px) {
            width: 93%;
        }
}

.error-summary .error-summary-heading {
    margin-top: 0;
}

.section, .section--branded {
    margin-top: 1.5em;
}